USE [POSEZ2U_V1]
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetDetailDailyReport]    Script Date: 12/28/2015 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Thien Huynh>
-- Create date: <27/12/2015>
-- Description:	<Get Detail  Weekly Report>
-- =============================================


--  EXEC pos_th_GetDetailWeeklyReport @paymenttypeid=1

ALTER PROCEDURE [dbo].[pos_th_GetDetailWeeklyReport] 
	@paymenttypeid INT =0  
AS
    BEGIN

        SET NOCOUNT ON;


		DECLARE @StarDay DATETIME= GETDATE();

        DECLARE @flag INT = 0;

        SELECT  @flag = ( 1 + ( ( 6 + DATEPART(dw, GETDATE()) + @@DATEFIRST ) % 7 ) );


        SELECT  @StarDay = CASE WHEN @flag = 1 THEN GETDATE() - 6
                                WHEN @flag = 2 THEN GETDATE()
                                WHEN @flag = 3 THEN GETDATE() - 1
                                WHEN @flag = 4 THEN GETDATE() - 2
                                WHEN @flag = 5 THEN GETDATE() - 3
                                WHEN @flag = 6 THEN GETDATE() - 4
                                WHEN @flag = 7 THEN GETDATE() - 5
                                ELSE GETDATE()
                           END

		SET @StarDay='12-21-2015'
		
        SELECT  i.InvoiceID ,
                i.InvoiceNumber ,
                i.OrderID ,
                PT.PaymentTypeName ,
                PIH.Total ,
                PIH.CreateDate,
				CONVERT(NVARCHAR(10),PIH.CreateDate,103) AS CreateDateString
        FROM    dbo.PAYMENT_INVOICE_HISTORY PIH
                INNER JOIN dbo.PAYMENT_TYPE PT ON PT.PaymentTypeID = PIH.PaymentTypeID
                INNER JOIN dbo.INVOICE i ON i.InvoiceID = PIH.InvoiceNumber
        WHERE   PIH.Satust = 1 AND (ISNULL(@paymenttypeid,0)=0 OR @paymenttypeid=PIH.PaymentTypeID)
				AND PIH.CreateDate BETWEEN @StarDay AND GETDATE()
        ORDER BY PIH.CreateDate ,
                pt.PaymentTypeName

    END
