USE [POSEZ2U_V1]
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetDetailDailyReport]    Script Date: 12/28/2015 9:13:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Thien Huynh>
-- Create date: <27/12/2015>
-- Description:	<Get Detail  Daily Report>
-- =============================================


--  EXEC pos_th_GetDetailDailyReport @paymenttypeid=3

ALTER PROCEDURE [dbo].[pos_th_GetDetailDailyReport] 
	@paymenttypeid INT =0  
AS
    BEGIN

        SET NOCOUNT ON;

	
        SELECT  i.InvoiceID ,
                i.InvoiceNumber ,
                i.OrderID ,
                PT.PaymentTypeName ,
                PIH.Total ,
                PIH.CreateDate,
				CONVERT(NVARCHAR(10),PIH.CreateDate,103) AS CreateDateString
        FROM    dbo.PAYMENT_INVOICE_HISTORY PIH
                INNER JOIN dbo.PAYMENT_TYPE PT ON PT.PaymentTypeID = PIH.PaymentTypeID
                INNER JOIN dbo.INVOICE i ON i.InvoiceID = PIH.InvoiceNumber
        WHERE   PIH.Satust = 1 AND (ISNULL(@paymenttypeid,0)=0 OR @paymenttypeid=PIH.PaymentTypeID)
		AND CONVERT(NVARCHAR(10), GETDATE(), 103) = CONVERT(NVARCHAR(10), PIH.CreateDate, 103)
        ORDER BY PIH.CreateDate ,
                pt.PaymentTypeName

    END
