USE [POSEZ2U_V1]
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetDailySaleReport]    Script Date: 12/28/2015 8:39:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<thien huynh>
-- Create date: <27/12/2015>
-- Description:	<Daily Sale Report>
-- =============================================

-- EXEC pos_th_GetDailySaleReport


ALTER PROCEDURE [dbo].[pos_th_GetDailySaleReport]
AS
    BEGIN
	
        SET NOCOUNT ON;
	

        SELECT ISNULL(MAX(temp.TotalCash),0) AS CashTotal ,
               ISNULL(MAX(temp.TotalCard),0) AS CardTotal ,
			   ISNULL(MAX(temp.TotalCheque),0) AS ChequeTotal ,
               ISNULL(MAX(temp.TotalAccount),0) AS AccountTotal ,
			   ISNULL(MAX(temp.TotalGiftCard),0) AS GrifCardTotal ,
               ISNULL(MAX(temp.TotalCash) + MAX(temp.TotalCard)+MAX(temp.TotalCheque) + MAX(temp.TotalAccount)+MAX(temp.TotalGiftCard),0) AS SaleTotal
        FROM    ( SELECT    CASE WHEN PaymentTypeID = 1 THEN SUM(Total)
                                 ELSE 0
                            END AS TotalCash ,
                            CASE WHEN PaymentTypeID = 2 THEN SUM(Total)
                                 ELSE 0
                            END AS TotalCard ,
							  CASE WHEN PaymentTypeID = 3 THEN SUM(Total)
                                 ELSE 0
                            END AS TotalCheque,
                            CASE WHEN PaymentTypeID = 4 THEN SUM(Total)
                                 ELSE 0
                            END AS TotalAccount,
							 CASE WHEN PaymentTypeID = 5 THEN SUM(Total)
                                 ELSE 0
                            END AS TotalGiftCard
                  FROM      dbo.PAYMENT_INVOICE_HISTORY
                  WHERE     Satust=1 AND CONVERT(NVARCHAR(10), GETDATE(), 103) = CONVERT(NVARCHAR(10), CreateDate, 103)
                  GROUP BY  PaymentTypeID
                ) AS temp


  
    END
