USE [POSEZ2U_V1]
GO
/****** Object:  UserDefinedFunction [dbo].[GetStartDate]    Script Date: 1/17/2016 4:30:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[GetStartDate]
(
	@startdate DATETIME
)
RETURNS DATETIME
AS
BEGIN	
	
	DECLARE @result DATETIME

	 DECLARE @flag INT = 0;

                SELECT  @flag = ( 1 + ( ( 6 + DATEPART(dw, @startdate)
                                          + @@DATEFIRST ) % 7 ) );

                SELECT  @result = CASE WHEN @flag = 1 THEN @startdate - 6
                                          WHEN @flag = 2 THEN @startdate
                                          WHEN @flag = 3 THEN @startdate - 1
                                          WHEN @flag = 4 THEN @startdate - 2
                                          WHEN @flag = 5 THEN @startdate - 3
                                          WHEN @flag = 6 THEN @startdate - 4
                                          WHEN @flag = 7 THEN @startdate - 5
                                          ELSE @startdate
                                     END

	return @result
	
END
