USE [POSEZ2U_V1]
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetDataSummaryReport]    Script Date: 1/17/2016 4:08:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Thien Huynh>
-- Create date: <16/1/2016>
-- Description:	<get Data summary report>
-- =============================================


-- EXEC pos_th_GetDataSummaryReport @dateselect='2015-12-27',@type=1



ALTER PROCEDURE [dbo].[pos_th_GetDataSummaryReport]
    @dateselect NVARCHAR(20) = '' ,
    @type INT = 0
AS
    BEGIN
	
        SET NOCOUNT ON;

        DECLARE @startdate DATETIME= CONVERT(DATETIME, @dateselect + ' 00:00:00');
        DECLARE @enddate DATETIME= CONVERT(DATETIME, @dateselect + ' 23:59:59');

        IF ( @type = 1 )
            BEGIN
                SELECT  @startdate = [dbo].[GetStartDate](@startdate)

                SELECT  @enddate = [dbo].[GetEndDate](@enddate)
            END

        --SELECT  @startdate ,
        --        @enddate


        SELECT  A.NetSale ,
                a.Discount ,
                a.Change ,
                a.Refund ,
                ( B.CashTotal - A.Change ) AS CashTotal ,
                B.CardTotal ,
                b.ChequeTotal ,
                b.AccountTotal ,
                b.GrifCardTotal
        FROM    ( SELECT    ISNULL(SUM(inv.Total), 0) AS NetSale ,
                            ISNULL(SUM(inv.Discount), 0) AS Discount ,
                            ISNULL(SUM(inv.Change), 0) AS Change ,
                            0 AS Refund
                  FROM      dbo.INVOICE inv
                            INNER JOIN dbo.ORDER_DATE oc ON oc.OrderID = inv.OrderID
                                                            AND oc.Status = 1
                  WHERE     inv.Satust = 1
                            AND inv.CreateDate BETWEEN @startdate AND @enddate
                ) AS A ,
                ( SELECT    ISNULL(MAX(temp.TotalCash), 0) AS CashTotal ,
                            ISNULL(MAX(temp.TotalCard), 0) AS CardTotal ,
                            ISNULL(MAX(temp.TotalCheque), 0) AS ChequeTotal ,
                            ISNULL(MAX(temp.TotalAccount), 0) AS AccountTotal ,
                            ISNULL(MAX(temp.TotalGiftCard), 0) AS GrifCardTotal
                  FROM      ( SELECT    CASE WHEN PaymentTypeID = 1
                                             THEN SUM(Total)
                                             ELSE 0
                                        END AS TotalCash ,
                                        CASE WHEN PaymentTypeID = 2
                                             THEN SUM(Total)
                                             ELSE 0
                                        END AS TotalCard ,
                                        CASE WHEN PaymentTypeID = 3
                                             THEN SUM(Total)
                                             ELSE 0
                                        END AS TotalCheque ,
                                        CASE WHEN PaymentTypeID = 4
                                             THEN SUM(Total)
                                             ELSE 0
                                        END AS TotalAccount ,
                                        CASE WHEN PaymentTypeID = 5
                                             THEN SUM(Total)
                                             ELSE 0
                                        END AS TotalGiftCard
                              FROM      dbo.PAYMENT_INVOICE_HISTORY
                              WHERE     Satust = 1
                                        AND CreateDate BETWEEN @startdate AND @enddate
                              GROUP BY  PaymentTypeID
                            ) AS temp
                ) AS B
    
    END
