USE [POSEZ2U]
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetQTYGroupSaleReport]    Script Date: 1/19/2016 10:30:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Thien Huynh>
-- Create date: <16/1/2016>
-- Description:	<get Data summary report>
-- =============================================

--  EXEC pos_th_GetShiftReport @dateselect='2016-1-8'

ALTER PROCEDURE [dbo].[pos_th_GetShiftReport]
    @dateselect NVARCHAR(20) = ''
AS
    BEGIN
	
        SET NOCOUNT ON;

        DECLARE @startdate DATETIME= CONVERT(DATETIME, @dateselect
            + ' 00:00:00');
        DECLARE @enddate DATETIME= CONVERT(DATETIME, @dateselect + ' 23:59:59');

        SELECT  sh.ShiftHistoryID ,
                sh.ShiftName ,
                s.UserName ,
                sh.StartShift ,
                sh.EndShift ,
                sh.CashStart ,
                sh.CashEnd ,
                sh.SafeDrop ,
                ISNULL(SUM(inv.TotalCash), 0) AS TotalCash ,
                ISNULL(SUM(inv.Total), 0) AS TotalSale
        FROM    dbo.SHIFT_HISTORY sh
                INNER JOIN dbo.STAFF s ON s.StaffID = sh.StaffID
                LEFT JOIN ( SELECT  INV.ShiftID ,
                                    INV.Total ,
                                    INV.Change ,
                                    INV.InvoiceID ,
                                    ISNULL(SUM(PHM.Total), 0)
                                    - ISNULL(INV.Change, 0) AS TotalCash
                            FROM    dbo.INVOICE INV
                                    LEFT JOIN dbo.PAYMENT_INVOICE_HISTORY PHM ON PHM.InvoiceID = INV.InvoiceID
                            WHERE   PaymentTypeID = 1
                            GROUP BY INV.ShiftID ,
                                    INV.Change ,
                                    INV.Total ,
                                    INV.InvoiceID
                          ) AS INV ON inv.ShiftID = sh.ShiftHistoryID
        WHERE   sh.CreateDate BETWEEN @startdate AND @enddate
        GROUP BY sh.ShiftHistoryID ,
                sh.ShiftName ,
                s.UserName ,
                sh.StartShift ,
                sh.EndShift ,
                sh.CashStart ,
                sh.CashEnd ,
                sh.SafeDrop 
      
    END
