USE [POSEZ2U]
GO
/****** Object:  StoredProcedure [dbo].[getModifireByProduct]    Script Date: 12/05/2015 16:28:49 ******/
DROP PROCEDURE [getModifireByProduct]
GO
/****** Object:  StoredProcedure [dbo].[getProductByCategory]    Script Date: 12/05/2015 16:28:49 ******/
DROP PROCEDURE [getProductByCategory]
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetAllListCategoryByCatalogue]    Script Date: 12/05/2015 16:28:49 ******/
DROP PROCEDURE [pos_th_GetAllListCategoryByCatalogue]
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetAllListProductByCategory]    Script Date: 12/05/2015 16:28:49 ******/
DROP PROCEDURE [pos_th_GetAllListProductByCategory]
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetListModifire]    Script Date: 12/05/2015 16:28:49 ******/
DROP PROCEDURE [pos_th_GetListModifire]
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetListModifireToProduct]    Script Date: 12/05/2015 16:28:49 ******/
DROP PROCEDURE [pos_th_GetListModifireToProduct]
GO
/****** Object:  StoredProcedure [dbo].[pos_th_SaveDataMapCategoryToCatalogue]    Script Date: 12/05/2015 16:28:49 ******/
DROP PROCEDURE [pos_th_SaveDataMapCategoryToCatalogue]
GO
/****** Object:  StoredProcedure [dbo].[pos_th_SaveDataMapModifireToProduct]    Script Date: 12/05/2015 16:28:49 ******/
DROP PROCEDURE [pos_th_SaveDataMapModifireToProduct]
GO
/****** Object:  StoredProcedure [dbo].[pos_th_SaveDataMapProductToCategory]    Script Date: 12/05/2015 16:28:49 ******/
DROP PROCEDURE [pos_th_SaveDataMapProductToCategory]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 12/05/2015 16:28:53 ******/
ALTER TABLE [PRODUCT] DROP CONSTRAINT [DF_PRODUCT_Status]
GO
ALTER TABLE [PRODUCT] DROP CONSTRAINT [DF_PRODUCT_CreateBy]
GO
ALTER TABLE [PRODUCT] DROP CONSTRAINT [DF_PRODUCT_CreateDate]
GO
ALTER TABLE [PRODUCT] DROP CONSTRAINT [DF_PRODUCT_UpdateBy]
GO
ALTER TABLE [PRODUCT] DROP CONSTRAINT [DF_PRODUCT_UpdateDate]
GO
DROP TABLE [PRODUCT]
GO
/****** Object:  Table [dbo].[PRODUCT_PRICE]    Script Date: 12/05/2015 16:28:53 ******/
ALTER TABLE [PRODUCT_PRICE] DROP CONSTRAINT [DF_PRODUCT_PRICE_Status]
GO
ALTER TABLE [PRODUCT_PRICE] DROP CONSTRAINT [DF_PRODUCT_PRICE_CreateBy]
GO
ALTER TABLE [PRODUCT_PRICE] DROP CONSTRAINT [DF_PRODUCT_PRICE_CreateDate]
GO
ALTER TABLE [PRODUCT_PRICE] DROP CONSTRAINT [DF_PRODUCT_PRICE_UpdateBy]
GO
ALTER TABLE [PRODUCT_PRICE] DROP CONSTRAINT [DF_PRODUCT_PRICE_UpdateDate]
GO
DROP TABLE [PRODUCT_PRICE]
GO
/****** Object:  Table [dbo].[SHIFT_HISTORY]    Script Date: 12/05/2015 16:28:53 ******/
ALTER TABLE [SHIFT_HISTORY] DROP CONSTRAINT [DF_SHIFT_HISTORY_StartShift]
GO
ALTER TABLE [SHIFT_HISTORY] DROP CONSTRAINT [DF_SHIFT_HISTORY_Status]
GO
ALTER TABLE [SHIFT_HISTORY] DROP CONSTRAINT [DF_SHIFT_HISTORY_Total]
GO
ALTER TABLE [SHIFT_HISTORY] DROP CONSTRAINT [DF_SHIFT_HISTORY_CreateBy]
GO
ALTER TABLE [SHIFT_HISTORY] DROP CONSTRAINT [DF_SHIFT_HISTORY_CreateDate]
GO
ALTER TABLE [SHIFT_HISTORY] DROP CONSTRAINT [DF_SHIFT_HISTORY_UpdateBy]
GO
ALTER TABLE [SHIFT_HISTORY] DROP CONSTRAINT [DF_SHIFT_HISTORY_UpdateDate]
GO
DROP TABLE [SHIFT_HISTORY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 12/05/2015 16:28:53 ******/
ALTER TABLE [STAFF] DROP CONSTRAINT [DF_STAFF_Status]
GO
ALTER TABLE [STAFF] DROP CONSTRAINT [DF_STAFF_CreateBy]
GO
ALTER TABLE [STAFF] DROP CONSTRAINT [DF_STAFF_CreateDate]
GO
ALTER TABLE [STAFF] DROP CONSTRAINT [DF_STAFF_UpdateBy]
GO
ALTER TABLE [STAFF] DROP CONSTRAINT [DF_STAFF_UpdateDate]
GO
DROP TABLE [STAFF]
GO
/****** Object:  Table [dbo].[SUB_MENU]    Script Date: 12/05/2015 16:28:53 ******/
ALTER TABLE [SUB_MENU] DROP CONSTRAINT [DF_SUB_MENU_Priority]
GO
ALTER TABLE [SUB_MENU] DROP CONSTRAINT [DF_SUB_MENU_Status]
GO
ALTER TABLE [SUB_MENU] DROP CONSTRAINT [DF_SUB_MENU_CreateBy]
GO
ALTER TABLE [SUB_MENU] DROP CONSTRAINT [DF_SUB_MENU_CreateDate]
GO
ALTER TABLE [SUB_MENU] DROP CONSTRAINT [DF_SUB_MENU_UpdateBy]
GO
ALTER TABLE [SUB_MENU] DROP CONSTRAINT [DF_SUB_MENU_UpdateDate]
GO
DROP TABLE [SUB_MENU]
GO
/****** Object:  UserDefinedTableType [dbo].[TableTemp]    Script Date: 12/05/2015 16:28:53 ******/
DROP TYPE [TableTemp]
GO
/****** Object:  Table [dbo].[CATALOGUE]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [CATALOGUE] DROP CONSTRAINT [DF_CATALOGUE_Status]
GO
ALTER TABLE [CATALOGUE] DROP CONSTRAINT [DF_CATALOGUE_CreateBy]
GO
ALTER TABLE [CATALOGUE] DROP CONSTRAINT [DF_CATALOGUE_CreateDate]
GO
ALTER TABLE [CATALOGUE] DROP CONSTRAINT [DF_CATALOGUE_UpdateBy]
GO
ALTER TABLE [CATALOGUE] DROP CONSTRAINT [DF_CATALOGUE_UpdateDate]
GO
DROP TABLE [CATALOGUE]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [CATEGORY] DROP CONSTRAINT [DF_CATEGORY_Status]
GO
ALTER TABLE [CATEGORY] DROP CONSTRAINT [DF_CATEGORY_CreateBy]
GO
ALTER TABLE [CATEGORY] DROP CONSTRAINT [DF_CATEGORY_CreateDate]
GO
ALTER TABLE [CATEGORY] DROP CONSTRAINT [DF_CATEGORY_UpdateBy]
GO
ALTER TABLE [CATEGORY] DROP CONSTRAINT [DF_CATEGORY_UpdateDate]
GO
DROP TABLE [CATEGORY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [CLIENT] DROP CONSTRAINT [DF_CLIENT_Status]
GO
ALTER TABLE [CLIENT] DROP CONSTRAINT [DF_CLIENT_CreateBy]
GO
ALTER TABLE [CLIENT] DROP CONSTRAINT [DF_CLIENT_CreateDate]
GO
ALTER TABLE [CLIENT] DROP CONSTRAINT [DF_CLIENT_UpdateBy]
GO
ALTER TABLE [CLIENT] DROP CONSTRAINT [DF_CLIENT_UpdateDate]
GO
DROP TABLE [CLIENT]
GO
/****** Object:  Table [dbo].[DEPARMENT]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [DEPARMENT] DROP CONSTRAINT [DF_DEPARMENT_Status]
GO
ALTER TABLE [DEPARMENT] DROP CONSTRAINT [DF_DEPARMENT_CreateBy]
GO
ALTER TABLE [DEPARMENT] DROP CONSTRAINT [DF_DEPARMENT_CreateDate]
GO
ALTER TABLE [DEPARMENT] DROP CONSTRAINT [DF_DEPARMENT_UpdateBy]
GO
ALTER TABLE [DEPARMENT] DROP CONSTRAINT [DF_DEPARMENT_UpdateDate]
GO
DROP TABLE [DEPARMENT]
GO
/****** Object:  Table [dbo].[FLOOR]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [FLOOR] DROP CONSTRAINT [DF_FLOOR_Priority]
GO
ALTER TABLE [FLOOR] DROP CONSTRAINT [DF_FLOOR_Status]
GO
ALTER TABLE [FLOOR] DROP CONSTRAINT [DF_FLOOR_CreateBy]
GO
ALTER TABLE [FLOOR] DROP CONSTRAINT [DF_FLOOR_CreateDate]
GO
ALTER TABLE [FLOOR] DROP CONSTRAINT [DF_FLOOR_UpdateBy]
GO
ALTER TABLE [FLOOR] DROP CONSTRAINT [DF_FLOOR_UpdateDate]
GO
DROP TABLE [FLOOR]
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [INVOICE] DROP CONSTRAINT [DF_INVOICE_Satust]
GO
ALTER TABLE [INVOICE] DROP CONSTRAINT [DF_INVOICE_CreateBy]
GO
ALTER TABLE [INVOICE] DROP CONSTRAINT [DF_INVOICE_CreateDate]
GO
ALTER TABLE [INVOICE] DROP CONSTRAINT [DF_INVOICE_UpdateBy]
GO
ALTER TABLE [INVOICE] DROP CONSTRAINT [DF_INVOICE_UpdateDate]
GO
DROP TABLE [INVOICE]
GO
/****** Object:  Table [dbo].[INVOICE_DETAIL]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [INVOICE_DETAIL] DROP CONSTRAINT [DF_INVOICE_DETAIL_OrderDetailID]
GO
ALTER TABLE [INVOICE_DETAIL] DROP CONSTRAINT [DF_INVOICE_DETAIL_Status]
GO
ALTER TABLE [INVOICE_DETAIL] DROP CONSTRAINT [DF_INVOICE_DETAIL_CreateBy]
GO
ALTER TABLE [INVOICE_DETAIL] DROP CONSTRAINT [DF_INVOICE_DETAIL_CreateDate]
GO
ALTER TABLE [INVOICE_DETAIL] DROP CONSTRAINT [DF_INVOICE_DETAIL_UpdateBy]
GO
ALTER TABLE [INVOICE_DETAIL] DROP CONSTRAINT [DF_INVOICE_DETAIL_UpdateDate]
GO
DROP TABLE [INVOICE_DETAIL]
GO
/****** Object:  Table [dbo].[INVOICE_DETAIL_MODIFIRE]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [INVOICE_DETAIL_MODIFIRE] DROP CONSTRAINT [DF_INVOICE_DETAIL_MODIFIRE_Satust]
GO
ALTER TABLE [INVOICE_DETAIL_MODIFIRE] DROP CONSTRAINT [DF_INVOICE_DETAIL_MODIFIRE_CreateBy]
GO
ALTER TABLE [INVOICE_DETAIL_MODIFIRE] DROP CONSTRAINT [DF_INVOICE_DETAIL_MODIFIRE_CreateDate]
GO
ALTER TABLE [INVOICE_DETAIL_MODIFIRE] DROP CONSTRAINT [DF_INVOICE_DETAIL_MODIFIRE_UpdateBy]
GO
ALTER TABLE [INVOICE_DETAIL_MODIFIRE] DROP CONSTRAINT [DF_INVOICE_DETAIL_MODIFIRE_UpdateDate]
GO
DROP TABLE [INVOICE_DETAIL_MODIFIRE]
GO
/****** Object:  Table [dbo].[MAP_CATEGORY_TO_CATALOGUE]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [MAP_CATEGORY_TO_CATALOGUE] DROP CONSTRAINT [DF_MAP_CATEGORY_TO_CATALOGUE_Status]
GO
ALTER TABLE [MAP_CATEGORY_TO_CATALOGUE] DROP CONSTRAINT [DF_MAP_CATEGORY_TO_CATALOGUE_CreateBy]
GO
ALTER TABLE [MAP_CATEGORY_TO_CATALOGUE] DROP CONSTRAINT [DF_MAP_CATEGORY_TO_CATALOGUE_CreateDate]
GO
ALTER TABLE [MAP_CATEGORY_TO_CATALOGUE] DROP CONSTRAINT [DF_MAP_CATEGORY_TO_CATALOGUE_UpdateBy]
GO
ALTER TABLE [MAP_CATEGORY_TO_CATALOGUE] DROP CONSTRAINT [DF_MAP_CATEGORY_TO_CATALOGUE_UpdateDate]
GO
DROP TABLE [MAP_CATEGORY_TO_CATALOGUE]
GO
/****** Object:  Table [dbo].[MAP_MODIFIRE_TO_PRODUCT]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [MAP_MODIFIRE_TO_PRODUCT] DROP CONSTRAINT [DF_MAP_MODIFIRE_TO_PRODUCT_Status]
GO
ALTER TABLE [MAP_MODIFIRE_TO_PRODUCT] DROP CONSTRAINT [DF_MAP_MODIFIRE_TO_PRODUCT_CreateBy]
GO
ALTER TABLE [MAP_MODIFIRE_TO_PRODUCT] DROP CONSTRAINT [DF_MAP_MODIFIRE_TO_PRODUCT_CreateDate]
GO
ALTER TABLE [MAP_MODIFIRE_TO_PRODUCT] DROP CONSTRAINT [DF_MAP_MODIFIRE_TO_PRODUCT_UpdateBy]
GO
ALTER TABLE [MAP_MODIFIRE_TO_PRODUCT] DROP CONSTRAINT [DF_MAP_MODIFIRE_TO_PRODUCT_UpdateDate]
GO
DROP TABLE [MAP_MODIFIRE_TO_PRODUCT]
GO
/****** Object:  Table [dbo].[MAP_PRODUCT_TO_CATEGORY]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [MAP_PRODUCT_TO_CATEGORY] DROP CONSTRAINT [DF_MAP_PRODUCT_TO_CATEGORY_Status]
GO
ALTER TABLE [MAP_PRODUCT_TO_CATEGORY] DROP CONSTRAINT [DF_MAP_PRODUCT_TO_CATEGORY_CreateBy]
GO
ALTER TABLE [MAP_PRODUCT_TO_CATEGORY] DROP CONSTRAINT [DF_MAP_PRODUCT_TO_CATEGORY_CreateDate]
GO
ALTER TABLE [MAP_PRODUCT_TO_CATEGORY] DROP CONSTRAINT [DF_MAP_PRODUCT_TO_CATEGORY_UpdateBy]
GO
ALTER TABLE [MAP_PRODUCT_TO_CATEGORY] DROP CONSTRAINT [DF_MAP_PRODUCT_TO_CATEGORY_UpdateDate]
GO
DROP TABLE [MAP_PRODUCT_TO_CATEGORY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [MENU] DROP CONSTRAINT [DF_MENU_Priority]
GO
ALTER TABLE [MENU] DROP CONSTRAINT [DF_MENU_Status]
GO
ALTER TABLE [MENU] DROP CONSTRAINT [DF_MENU_CreateBy]
GO
ALTER TABLE [MENU] DROP CONSTRAINT [DF_MENU_CreateDate]
GO
ALTER TABLE [MENU] DROP CONSTRAINT [DF_MENU_UpdateBy]
GO
ALTER TABLE [MENU] DROP CONSTRAINT [DF_MENU_UpdateDate]
GO
DROP TABLE [MENU]
GO
/****** Object:  Table [dbo].[MODIFIRE]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [MODIFIRE] DROP CONSTRAINT [DF_MODIFIRE_Status]
GO
ALTER TABLE [MODIFIRE] DROP CONSTRAINT [DF_MODIFIRE_CreateBy]
GO
ALTER TABLE [MODIFIRE] DROP CONSTRAINT [DF_MODIFIRE_CreateDate]
GO
ALTER TABLE [MODIFIRE] DROP CONSTRAINT [DF_MODIFIRE_UpdateBy]
GO
ALTER TABLE [MODIFIRE] DROP CONSTRAINT [DF_MODIFIRE_UpdateDate]
GO
DROP TABLE [MODIFIRE]
GO
/****** Object:  Table [dbo].[MODIFIRE_PRICE]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [MODIFIRE_PRICE] DROP CONSTRAINT [DF_MODIFIRE_PRICE_Status]
GO
ALTER TABLE [MODIFIRE_PRICE] DROP CONSTRAINT [DF_MODIFIRE_PRICE_CreateBy]
GO
ALTER TABLE [MODIFIRE_PRICE] DROP CONSTRAINT [DF_MODIFIRE_PRICE_CreateDate]
GO
ALTER TABLE [MODIFIRE_PRICE] DROP CONSTRAINT [DF_MODIFIRE_PRICE_UpdateBy]
GO
ALTER TABLE [MODIFIRE_PRICE] DROP CONSTRAINT [DF_MODIFIRE_PRICE_UpdateDate]
GO
DROP TABLE [MODIFIRE_PRICE]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [ORDER] DROP CONSTRAINT [DF_ORDER_Status]
GO
ALTER TABLE [ORDER] DROP CONSTRAINT [DF_ORDER_CreateBy]
GO
ALTER TABLE [ORDER] DROP CONSTRAINT [DF_ORDER_CreateDate]
GO
ALTER TABLE [ORDER] DROP CONSTRAINT [DF_ORDER_UpdateBy]
GO
ALTER TABLE [ORDER] DROP CONSTRAINT [DF_ORDER_UpdateDate]
GO
DROP TABLE [ORDER]
GO
/****** Object:  Table [dbo].[ORDER_DATE]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [ORDER_DATE] DROP CONSTRAINT [DF_ORDERDATE_Status]
GO
ALTER TABLE [ORDER_DATE] DROP CONSTRAINT [DF_ORDERDATE_CreateBy]
GO
ALTER TABLE [ORDER_DATE] DROP CONSTRAINT [DF_ORDERDATE_CreateDate]
GO
ALTER TABLE [ORDER_DATE] DROP CONSTRAINT [DF_ORDERDATE_UpdateBy]
GO
ALTER TABLE [ORDER_DATE] DROP CONSTRAINT [DF_ORDERDATE_UpdateDate]
GO
DROP TABLE [ORDER_DATE]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [ORDER_DETAIL] DROP CONSTRAINT [DF_ORDER_DETAIL_Satust]
GO
ALTER TABLE [ORDER_DETAIL] DROP CONSTRAINT [DF_ORDER_DETAIL_CreateBy]
GO
ALTER TABLE [ORDER_DETAIL] DROP CONSTRAINT [DF_ORDER_DETAIL_CreateDate]
GO
ALTER TABLE [ORDER_DETAIL] DROP CONSTRAINT [DF_ORDER_DETAIL_UpdateBy]
GO
ALTER TABLE [ORDER_DETAIL] DROP CONSTRAINT [DF_ORDER_DETAIL_UpdateDate]
GO
DROP TABLE [ORDER_DETAIL]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL_DATE]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [ORDER_DETAIL_DATE] DROP CONSTRAINT [DF_ORDER_DETAIL_DATE_Satust]
GO
ALTER TABLE [ORDER_DETAIL_DATE] DROP CONSTRAINT [DF_ORDER_DETAIL_DATE_CreateBy]
GO
ALTER TABLE [ORDER_DETAIL_DATE] DROP CONSTRAINT [DF_ORDER_DETAIL_DATE_CreateDate]
GO
ALTER TABLE [ORDER_DETAIL_DATE] DROP CONSTRAINT [DF_ORDER_DETAIL_DATE_UpdateBy]
GO
ALTER TABLE [ORDER_DETAIL_DATE] DROP CONSTRAINT [DF_ORDER_DETAIL_DATE_UpdateDate]
GO
DROP TABLE [ORDER_DETAIL_DATE]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL_MODIFIRE]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [ORDER_DETAIL_MODIFIRE] DROP CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_Satust]
GO
ALTER TABLE [ORDER_DETAIL_MODIFIRE] DROP CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_CreateBy]
GO
ALTER TABLE [ORDER_DETAIL_MODIFIRE] DROP CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_CreateDate]
GO
ALTER TABLE [ORDER_DETAIL_MODIFIRE] DROP CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_UpdateBy]
GO
ALTER TABLE [ORDER_DETAIL_MODIFIRE] DROP CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_UpdateDate]
GO
DROP TABLE [ORDER_DETAIL_MODIFIRE]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL_MODIFIRE_DATE]    Script Date: 12/05/2015 16:28:52 ******/
ALTER TABLE [ORDER_DETAIL_MODIFIRE_DATE] DROP CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_DATE_Satust]
GO
ALTER TABLE [ORDER_DETAIL_MODIFIRE_DATE] DROP CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_DATE_CreateBy]
GO
ALTER TABLE [ORDER_DETAIL_MODIFIRE_DATE] DROP CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_DATE_CreateDate]
GO
ALTER TABLE [ORDER_DETAIL_MODIFIRE_DATE] DROP CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_DATE_UpdateBy]
GO
ALTER TABLE [ORDER_DETAIL_MODIFIRE_DATE] DROP CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_DATE_UpdateDate]
GO
DROP TABLE [ORDER_DETAIL_MODIFIRE_DATE]
GO
/****** Object:  Table [dbo].[PAYMENT_INVOICE_HISTORY]    Script Date: 12/05/2015 16:28:53 ******/
ALTER TABLE [PAYMENT_INVOICE_HISTORY] DROP CONSTRAINT [DF_PAYMENT_INVOICE_HISTORY_Satust]
GO
ALTER TABLE [PAYMENT_INVOICE_HISTORY] DROP CONSTRAINT [DF_PAYMENT_INVOICE_HISTORY_CreateBy]
GO
ALTER TABLE [PAYMENT_INVOICE_HISTORY] DROP CONSTRAINT [DF_PAYMENT_INVOICE_HISTORY_CreateDate]
GO
ALTER TABLE [PAYMENT_INVOICE_HISTORY] DROP CONSTRAINT [DF_PAYMENT_INVOICE_HISTORY_UpdateBy]
GO
ALTER TABLE [PAYMENT_INVOICE_HISTORY] DROP CONSTRAINT [DF_PAYMENT_INVOICE_HISTORY_UpdateDate]
GO
DROP TABLE [PAYMENT_INVOICE_HISTORY]
GO
/****** Object:  Table [dbo].[PAYMENT_TYPE]    Script Date: 12/05/2015 16:28:53 ******/
ALTER TABLE [PAYMENT_TYPE] DROP CONSTRAINT [DF_PAYMENT_TYPE_Status]
GO
ALTER TABLE [PAYMENT_TYPE] DROP CONSTRAINT [DF_PAYMENT_TYPE_CreateBy]
GO
ALTER TABLE [PAYMENT_TYPE] DROP CONSTRAINT [DF_PAYMENT_TYPE_CreateDate]
GO
ALTER TABLE [PAYMENT_TYPE] DROP CONSTRAINT [DF_PAYMENT_TYPE_UpdateBy]
GO
ALTER TABLE [PAYMENT_TYPE] DROP CONSTRAINT [DF_PAYMENT_TYPE_UpdateDate]
GO
DROP TABLE [PAYMENT_TYPE]
GO
/****** Object:  Table [dbo].[PERMISSION]    Script Date: 12/05/2015 16:28:53 ******/
ALTER TABLE [PERMISSION] DROP CONSTRAINT [DF_PERMISSION_Status]
GO
ALTER TABLE [PERMISSION] DROP CONSTRAINT [DF_PERMISSION_DeparmentID]
GO
ALTER TABLE [PERMISSION] DROP CONSTRAINT [DF_PERMISSION_SubMenuID]
GO
ALTER TABLE [PERMISSION] DROP CONSTRAINT [DF_PERMISSION_CreateBy]
GO
ALTER TABLE [PERMISSION] DROP CONSTRAINT [DF_PERMISSION_CreateDate]
GO
ALTER TABLE [PERMISSION] DROP CONSTRAINT [DF_PERMISSION_UpdateBy]
GO
ALTER TABLE [PERMISSION] DROP CONSTRAINT [DF_PERMISSION_UpdateDate]
GO
DROP TABLE [PERMISSION]
GO
/****** Object:  Table [dbo].[PERMISSION]    Script Date: 12/05/2015 16:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PERMISSION](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](500) NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_PERMISSION_Status]  DEFAULT ((1)),
	[DeparmentID] [int] NOT NULL CONSTRAINT [DF_PERMISSION_DeparmentID]  DEFAULT ((0)),
	[SubMenuID] [int] NOT NULL CONSTRAINT [DF_PERMISSION_SubMenuID]  DEFAULT ((0)),
	[CreateBy] [int] NULL CONSTRAINT [DF_PERMISSION_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_PERMISSION_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_PERMISSION_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_PERMISSION_UpdateDate]  DEFAULT (getdate()),
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_TYPE]    Script Date: 12/05/2015 16:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PAYMENT_TYPE](
	[PaymentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeName] [nvarchar](500) NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_PAYMENT_TYPE_Status]  DEFAULT ((1)),
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_PAYMENT_TYPE_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_PAYMENT_TYPE_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_PAYMENT_TYPE_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_PAYMENT_TYPE_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_PAYMENT_TYPE] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_INVOICE_HISTORY]    Script Date: 12/05/2015 16:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PAYMENT_INVOICE_HISTORY](
	[PaymentHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[PaymentTypeID] [int] NOT NULL,
	[Total] [float] NOT NULL,
	[Satust] [int] NOT NULL CONSTRAINT [DF_PAYMENT_INVOICE_HISTORY_Satust]  DEFAULT ((1)),
	[CreateBy] [int] NULL CONSTRAINT [DF_PAYMENT_INVOICE_HISTORY_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_PAYMENT_INVOICE_HISTORY_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_PAYMENT_INVOICE_HISTORY_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_PAYMENT_INVOICE_HISTORY_UpdateDate]  DEFAULT (getdate()),
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_PAYMENT_INVOICE_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PaymentHistoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL_MODIFIRE_DATE]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ORDER_DETAIL_MODIFIRE_DATE](
	[OrderModifireID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDetailID] [int] NOT NULL,
	[ModifireID] [int] NOT NULL,
	[Satust] [int] NOT NULL CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_DATE_Satust]  DEFAULT ((1)),
	[Price] [float] NULL,
	[Qty] [float] NULL,
	[Total] [float] NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_DATE_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_DATE_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_DATE_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_DATE_UpdateDate]  DEFAULT (getdate()),
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_ORDER_DETAIL_MODIFIRE_DATE] PRIMARY KEY CLUSTERED 
(
	[OrderModifireID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL_MODIFIRE]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ORDER_DETAIL_MODIFIRE](
	[OrderModifireID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDetailID] [int] NOT NULL,
	[ModifireID] [int] NOT NULL,
	[Satust] [int] NOT NULL CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_Satust]  DEFAULT ((1)),
	[Price] [float] NULL,
	[Qty] [float] NULL,
	[Total] [float] NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_ORDER_DETAIL_MODIFIRE_UpdateDate]  DEFAULT (getdate()),
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_ORDER_DETAIL_MODIFIRE] PRIMARY KEY CLUSTERED 
(
	[OrderModifireID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL_DATE]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ORDER_DETAIL_DATE](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Satust] [int] NOT NULL CONSTRAINT [DF_ORDER_DETAIL_DATE_Satust]  DEFAULT ((1)),
	[Price] [float] NULL,
	[Qty] [float] NULL,
	[Total] [float] NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_ORDER_DETAIL_DATE_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_ORDER_DETAIL_DATE_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_ORDER_DETAIL_DATE_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_ORDER_DETAIL_DATE_UpdateDate]  DEFAULT (getdate()),
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_ORDER_DETAIL_DATE] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ORDER_DETAIL](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Satust] [int] NOT NULL CONSTRAINT [DF_ORDER_DETAIL_Satust]  DEFAULT ((1)),
	[Price] [float] NULL,
	[Qty] [float] NULL,
	[Total] [float] NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_ORDER_DETAIL_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_ORDER_DETAIL_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_ORDER_DETAIL_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_ORDER_DETAIL_UpdateDate]  DEFAULT (getdate()),
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_ORDER_DETAIL] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DATE]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ORDER_DATE](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[ClientID] [int] NULL,
	[FloorID] [int] NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_ORDERDATE_Status]  DEFAULT ((1)),
	[TotalAmount] [float] NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_ORDERDATE_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_ORDERDATE_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_ORDERDATE_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_ORDERDATE_UpdateDate]  DEFAULT (getdate()),
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_ORDERDATE] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ORDER](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[ClientID] [int] NULL,
	[FloorID] [int] NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_ORDER_Status]  DEFAULT ((1)),
	[TotalAmount] [float] NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_ORDER_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_ORDER_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_ORDER_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_ORDER_UpdateDate]  DEFAULT (getdate()),
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODIFIRE_PRICE]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MODIFIRE_PRICE](
	[ModifirePriceID] [int] IDENTITY(1,1) NOT NULL,
	[ModifireID] [int] NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_MODIFIRE_PRICE_Status]  DEFAULT ((1)),
	[CurrentPrice] [float] NULL,
	[WasPrice] [float] NULL,
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_MODIFIRE_PRICE_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_MODIFIRE_PRICE_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_MODIFIRE_PRICE_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_MODIFIRE_PRICE_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_MODIFIRE_PRICE] PRIMARY KEY CLUSTERED 
(
	[ModifirePriceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [MODIFIRE_PRICE] ON
INSERT [MODIFIRE_PRICE] ([ModifirePriceID], [ModifireID], [Status], [CurrentPrice], [WasPrice], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (1, 1, 1, 10000, 0, N'', 0, CAST(0x0000A563016BB722 AS DateTime), 0, CAST(0x0000A563016BB722 AS DateTime))
INSERT [MODIFIRE_PRICE] ([ModifirePriceID], [ModifireID], [Status], [CurrentPrice], [WasPrice], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (2, 2, 1, 5000, 0, N'', 0, CAST(0x0000A563016BCC44 AS DateTime), 0, CAST(0x0000A563016BCC44 AS DateTime))
INSERT [MODIFIRE_PRICE] ([ModifirePriceID], [ModifireID], [Status], [CurrentPrice], [WasPrice], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (3, 3, 1, 3000, 0, N'', 0, CAST(0x0000A563016BE277 AS DateTime), 0, CAST(0x0000A563016BE277 AS DateTime))
SET IDENTITY_INSERT [MODIFIRE_PRICE] OFF
/****** Object:  Table [dbo].[MODIFIRE]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MODIFIRE](
	[ModifireID] [int] IDENTITY(1,1) NOT NULL,
	[ModifireName] [nvarchar](500) NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_MODIFIRE_Status]  DEFAULT ((1)),
	[Color] [nvarchar](250) NULL,
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_MODIFIRE_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_MODIFIRE_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_MODIFIRE_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_MODIFIRE_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_MODIFIRE] PRIMARY KEY CLUSTERED 
(
	[ModifireID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [MODIFIRE] ON
INSERT [MODIFIRE] ([ModifireID], [ModifireName], [Status], [Color], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (1, N'Them thit suon', 1, N'Aqua', N'', 0, CAST(0x0000A563016BB71C AS DateTime), 0, CAST(0x0000A563016BB71D AS DateTime))
INSERT [MODIFIRE] ([ModifireID], [ModifireName], [Status], [Color], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (2, N'Them trung', 1, N'DarkMagenta', N'', 0, CAST(0x0000A563016BCC43 AS DateTime), 0, CAST(0x0000A563016BCC43 AS DateTime))
INSERT [MODIFIRE] ([ModifireID], [ModifireName], [Status], [Color], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (3, N'Them cha', 1, N'DarkBlue', N'', 0, CAST(0x0000A563016BE276 AS DateTime), 0, CAST(0x0000A563016BE276 AS DateTime))
SET IDENTITY_INSERT [MODIFIRE] OFF
/****** Object:  Table [dbo].[MENU]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MENU](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](500) NOT NULL,
	[Priority] [int] NOT NULL CONSTRAINT [DF_MENU_Priority]  DEFAULT ((0)),
	[Status] [int] NOT NULL CONSTRAINT [DF_MENU_Status]  DEFAULT ((1)),
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_MENU_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_MENU_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_MENU_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_MENU_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAP_PRODUCT_TO_CATEGORY]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAP_PRODUCT_TO_CATEGORY](
	[ProductID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_MAP_PRODUCT_TO_CATEGORY_Status]  DEFAULT ((1)),
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_MAP_PRODUCT_TO_CATEGORY_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_MAP_PRODUCT_TO_CATEGORY_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_MAP_PRODUCT_TO_CATEGORY_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_MAP_PRODUCT_TO_CATEGORY_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_MAP_PRODUCT_TO_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [MAP_PRODUCT_TO_CATEGORY] ([ProductID], [CategoryID], [Status], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (1, 1, 1, N'', 0, CAST(0x0000A563017098F6 AS DateTime), 0, CAST(0x0000A563017098F6 AS DateTime))
INSERT [MAP_PRODUCT_TO_CATEGORY] ([ProductID], [CategoryID], [Status], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (2, 1, 1, N'', 0, CAST(0x0000A563017098F6 AS DateTime), 0, CAST(0x0000A563017098F6 AS DateTime))
INSERT [MAP_PRODUCT_TO_CATEGORY] ([ProductID], [CategoryID], [Status], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (3, 1, 1, N'', 0, CAST(0x0000A563017098F6 AS DateTime), 0, CAST(0x0000A563017098F6 AS DateTime))
/****** Object:  Table [dbo].[MAP_MODIFIRE_TO_PRODUCT]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAP_MODIFIRE_TO_PRODUCT](
	[ModifireID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_MAP_MODIFIRE_TO_PRODUCT_Status]  DEFAULT ((1)),
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_MAP_MODIFIRE_TO_PRODUCT_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_MAP_MODIFIRE_TO_PRODUCT_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_MAP_MODIFIRE_TO_PRODUCT_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_MAP_MODIFIRE_TO_PRODUCT_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_MAP_MODIFIRE_TO_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ModifireID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [MAP_MODIFIRE_TO_PRODUCT] ([ModifireID], [ProductID], [Status], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (1, 1, 1, N'', 0, CAST(0x0000A56301713CE9 AS DateTime), 0, CAST(0x0000A56301713CE9 AS DateTime))
INSERT [MAP_MODIFIRE_TO_PRODUCT] ([ModifireID], [ProductID], [Status], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (2, 1, 1, N'', 0, CAST(0x0000A56301715CF9 AS DateTime), 0, CAST(0x0000A56301715CF9 AS DateTime))
INSERT [MAP_MODIFIRE_TO_PRODUCT] ([ModifireID], [ProductID], [Status], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (3, 1, 1, N'', 0, CAST(0x0000A56301715CF9 AS DateTime), 0, CAST(0x0000A56301715CF9 AS DateTime))
/****** Object:  Table [dbo].[MAP_CATEGORY_TO_CATALOGUE]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAP_CATEGORY_TO_CATALOGUE](
	[CategoryID] [int] NOT NULL,
	[CatalogueID] [int] NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_MAP_CATEGORY_TO_CATALOGUE_Status]  DEFAULT ((1)),
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_MAP_CATEGORY_TO_CATALOGUE_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_MAP_CATEGORY_TO_CATALOGUE_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_MAP_CATEGORY_TO_CATALOGUE_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_MAP_CATEGORY_TO_CATALOGUE_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_MAP_CATEGORY_TO_CATALOGUE] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC,
	[CatalogueID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [MAP_CATEGORY_TO_CATALOGUE] ([CategoryID], [CatalogueID], [Status], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (1, 1, 1, N'', 0, CAST(0x0000A563016FB990 AS DateTime), 0, CAST(0x0000A563016FB990 AS DateTime))
INSERT [MAP_CATEGORY_TO_CATALOGUE] ([CategoryID], [CatalogueID], [Status], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (1, 2, 1, N'', 0, CAST(0x0000A563016FC6A0 AS DateTime), 0, CAST(0x0000A563016FC6A0 AS DateTime))
INSERT [MAP_CATEGORY_TO_CATALOGUE] ([CategoryID], [CatalogueID], [Status], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (2, 1, 1, N'', 0, CAST(0x0000A563016FB990 AS DateTime), 0, CAST(0x0000A563016FB990 AS DateTime))
/****** Object:  Table [dbo].[INVOICE_DETAIL_MODIFIRE]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INVOICE_DETAIL_MODIFIRE](
	[InvoiceModifireID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceDetailID] [int] NOT NULL,
	[OrderModifireID] [int] NULL,
	[Satust] [int] NOT NULL CONSTRAINT [DF_INVOICE_DETAIL_MODIFIRE_Satust]  DEFAULT ((1)),
	[Price] [float] NULL,
	[Qty] [float] NULL,
	[Total] [float] NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_INVOICE_DETAIL_MODIFIRE_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_INVOICE_DETAIL_MODIFIRE_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_INVOICE_DETAIL_MODIFIRE_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_INVOICE_DETAIL_MODIFIRE_UpdateDate]  DEFAULT (getdate()),
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_INVOICE_DETAIL_MODIFIRE] PRIMARY KEY CLUSTERED 
(
	[InvoiceModifireID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE_DETAIL]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INVOICE_DETAIL](
	[InvoiceDetailID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[OrderDetailID] [int] NULL CONSTRAINT [DF_INVOICE_DETAIL_OrderDetailID]  DEFAULT ((0)),
	[Status] [int] NOT NULL CONSTRAINT [DF_INVOICE_DETAIL_Status]  DEFAULT ((1)),
	[Price] [float] NULL,
	[Qty] [float] NULL,
	[Total] [float] NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_INVOICE_DETAIL_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_INVOICE_DETAIL_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_INVOICE_DETAIL_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_INVOICE_DETAIL_UpdateDate]  DEFAULT (getdate()),
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_INVOICE_DETAIL] PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INVOICE](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NULL,
	[OrderID] [int] NOT NULL,
	[Satust] [int] NOT NULL CONSTRAINT [DF_INVOICE_Satust]  DEFAULT ((1)),
	[Total] [int] NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_INVOICE_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_INVOICE_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_INVOICE_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_INVOICE_UpdateDate]  DEFAULT (getdate()),
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_INVOICE] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLOOR]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FLOOR](
	[FloorID] [int] IDENTITY(1,1) NOT NULL,
	[FloorName] [nvarchar](500) NOT NULL,
	[Priority] [int] NOT NULL CONSTRAINT [DF_FLOOR_Priority]  DEFAULT ((0)),
	[Status] [int] NOT NULL CONSTRAINT [DF_FLOOR_Status]  DEFAULT ((1)),
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_FLOOR_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_FLOOR_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_FLOOR_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_FLOOR_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_FLOOR] PRIMARY KEY CLUSTERED 
(
	[FloorID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARMENT]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DEPARMENT](
	[DeparmentID] [int] NOT NULL,
	[DeparmentName] [nvarchar](500) NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_DEPARMENT_Status]  DEFAULT ((1)),
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_DEPARMENT_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_DEPARMENT_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_DEPARMENT_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_DEPARMENT_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_DEPARMENT] PRIMARY KEY CLUSTERED 
(
	[DeparmentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIENT](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_CLIENT_Status]  DEFAULT ((1)),
	[Fname] [nvarchar](500) NULL,
	[Lname] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[Phone] [nvarchar](500) NULL,
	[Adress1] [nvarchar](500) NULL,
	[Adress2] [nvarchar](500) NULL,
	[Adress3] [nvarchar](500) NULL,
	[Country] [nvarchar](500) NULL,
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_CLIENT_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_CLIENT_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_CLIENT_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_CLIENT_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CATEGORY](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](500) NOT NULL,
	[CategoryNameSort] [nvarchar](500) NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_CATEGORY_Status]  DEFAULT ((1)),
	[Color] [nvarchar](250) NULL,
	[ProductColor] [nvarchar](250) NULL,
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_CATEGORY_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_CATEGORY_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_CATEGORY_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_CATEGORY_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [CATEGORY] ON
INSERT [CATEGORY] ([CategoryID], [CategoryName], [CategoryNameSort], [Status], [Color], [ProductColor], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (1, N'Com', N'Com', 1, N'Cyan', N'Blue', N'', 1, CAST(0x0000A5630168A5C3 AS DateTime), 0, CAST(0x0000A5630168A5C3 AS DateTime))
INSERT [CATEGORY] ([CategoryID], [CategoryName], [CategoryNameSort], [Status], [Color], [ProductColor], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (2, N'Pho', N'Pho', 1, N'BlueViolet', N'Crimson', N'', 1, CAST(0x0000A5630168BC12 AS DateTime), 0, CAST(0x0000A5630168BC12 AS DateTime))
INSERT [CATEGORY] ([CategoryID], [CategoryName], [CategoryNameSort], [Status], [Color], [ProductColor], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (3, N'Hu Tiu', N'Hu Tiu', 1, N'BlueViolet', N'Chartreuse', N'', 1, CAST(0x0000A5630168D990 AS DateTime), 0, CAST(0x0000A5630168D990 AS DateTime))
SET IDENTITY_INSERT [CATEGORY] OFF
/****** Object:  Table [dbo].[CATALOGUE]    Script Date: 12/05/2015 16:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CATALOGUE](
	[CatalogueID] [int] IDENTITY(1,1) NOT NULL,
	[CatalogueName] [nvarchar](500) NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_CATALOGUE_Status]  DEFAULT ((1)),
	[Color] [nvarchar](250) NULL,
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_CATALOGUE_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_CATALOGUE_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_CATALOGUE_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_CATALOGUE_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_CATALOGUE] PRIMARY KEY CLUSTERED 
(
	[CatalogueID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [CATALOGUE] ON
INSERT [CATALOGUE] ([CatalogueID], [CatalogueName], [Status], [Color], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (1, N'Breakfast', 1, N'Green', N'', 0, CAST(0x0000A563016842F6 AS DateTime), 0, CAST(0x0000A563016842F6 AS DateTime))
INSERT [CATALOGUE] ([CatalogueID], [CatalogueName], [Status], [Color], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (2, N'Lunch', 1, N'Blue', N'', 0, CAST(0x0000A563016850D7 AS DateTime), 0, CAST(0x0000A563016850D7 AS DateTime))
INSERT [CATALOGUE] ([CatalogueID], [CatalogueName], [Status], [Color], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (3, N'Beverage', 1, N'CornflowerBlue', N'', 0, CAST(0x0000A56301686632 AS DateTime), 0, CAST(0x0000A56301686632 AS DateTime))
SET IDENTITY_INSERT [CATALOGUE] OFF
/****** Object:  UserDefinedTableType [dbo].[TableTemp]    Script Date: 12/05/2015 16:28:53 ******/
CREATE TYPE [TableTemp] AS TABLE(
	[Value] [int] NULL
)
GO
/****** Object:  Table [dbo].[SUB_MENU]    Script Date: 12/05/2015 16:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SUB_MENU](
	[SubMenuID] [int] IDENTITY(1,1) NOT NULL,
	[SubMenuName] [nvarchar](500) NOT NULL,
	[MenuID] [int] NOT NULL,
	[Priority] [int] NOT NULL CONSTRAINT [DF_SUB_MENU_Priority]  DEFAULT ((0)),
	[Status] [int] NOT NULL CONSTRAINT [DF_SUB_MENU_Status]  DEFAULT ((1)),
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_SUB_MENU_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_SUB_MENU_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_SUB_MENU_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_SUB_MENU_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_SUB_MENU] PRIMARY KEY CLUSTERED 
(
	[SubMenuID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 12/05/2015 16:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STAFF](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_STAFF_Status]  DEFAULT ((1)),
	[DeparmentID] [int] NOT NULL,
	[Fname] [nvarchar](500) NULL,
	[Lname] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[Phone] [nvarchar](500) NULL,
	[Adress1] [nvarchar](500) NULL,
	[Adress2] [nvarchar](500) NULL,
	[Adress3] [nvarchar](500) NULL,
	[Country] [nvarchar](500) NULL,
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_STAFF_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_STAFF_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_STAFF_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_STAFF_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [STAFF] ON
INSERT [STAFF] ([StaffID], [UserName], [Password], [Status], [DeparmentID], [Fname], [Lname], [Email], [Phone], [Adress1], [Adress2], [Adress3], [Country], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (1, N'thienhuynh', N'th@123', 1, 1, N'Thien', N'Huynh', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, CAST(0x0000A556015D223A AS DateTime), 1, CAST(0x0000A556015D223A AS DateTime))
INSERT [STAFF] ([StaffID], [UserName], [Password], [Status], [DeparmentID], [Fname], [Lname], [Email], [Phone], [Adress1], [Adress2], [Adress3], [Country], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (2, N'thanhphan', N'tp@123', 1, 1, N'Thanh', N'Phan', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, CAST(0x0000A556015D4A8B AS DateTime), 1, CAST(0x0000A556015D4A8B AS DateTime))
INSERT [STAFF] ([StaffID], [UserName], [Password], [Status], [DeparmentID], [Fname], [Lname], [Email], [Phone], [Adress1], [Adress2], [Adress3], [Country], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (3, N'vupham', N'vp@123', 1, 1, N'Vu', N'Pham', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, CAST(0x0000A556015D67E4 AS DateTime), 1, CAST(0x0000A556015D67E4 AS DateTime))
SET IDENTITY_INSERT [STAFF] OFF
/****** Object:  Table [dbo].[SHIFT_HISTORY]    Script Date: 12/05/2015 16:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SHIFT_HISTORY](
	[ShiftHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NOT NULL,
	[StartShift] [datetime] NOT NULL CONSTRAINT [DF_SHIFT_HISTORY_StartShift]  DEFAULT (getdate()),
	[EndShift] [datetime] NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_SHIFT_HISTORY_Status]  DEFAULT ((0)),
	[Total] [float] NULL CONSTRAINT [DF_SHIFT_HISTORY_Total]  DEFAULT ((0)),
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_SHIFT_HISTORY_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_SHIFT_HISTORY_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_SHIFT_HISTORY_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_SHIFT_HISTORY_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_SHIFT_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ShiftHistoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_PRICE]    Script Date: 12/05/2015 16:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PRODUCT_PRICE](
	[ProductPriceID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_PRODUCT_PRICE_Status]  DEFAULT ((1)),
	[CurrentPrice] [float] NULL,
	[WasPrice] [float] NULL,
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_PRODUCT_PRICE_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_PRODUCT_PRICE_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_PRODUCT_PRICE_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_PRODUCT_PRICE_UpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_PRODUCT_PRICE] PRIMARY KEY CLUSTERED 
(
	[ProductPriceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [PRODUCT_PRICE] ON
INSERT [PRODUCT_PRICE] ([ProductPriceID], [ProductID], [Status], [CurrentPrice], [WasPrice], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (1, 1, 1, 210000, 0, N'', 0, CAST(0x0000A5630169E77E AS DateTime), 0, CAST(0x0000A5630169E77E AS DateTime))
INSERT [PRODUCT_PRICE] ([ProductPriceID], [ProductID], [Status], [CurrentPrice], [WasPrice], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (2, 2, 1, 25000, 0, N'', 0, CAST(0x0000A563016A0BEF AS DateTime), 0, CAST(0x0000A563016A0BEF AS DateTime))
INSERT [PRODUCT_PRICE] ([ProductPriceID], [ProductID], [Status], [CurrentPrice], [WasPrice], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (3, 3, 1, 32000, 32000, N'', 0, CAST(0x0000A563016A59C9 AS DateTime), 0, CAST(0x0000A563016A59C9 AS DateTime))
SET IDENTITY_INSERT [PRODUCT_PRICE] OFF
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 12/05/2015 16:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PRODUCT](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductNameDesc] [nvarchar](500) NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_PRODUCT_Status]  DEFAULT ((1)),
	[Color] [nvarchar](250) NULL,
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NULL CONSTRAINT [DF_PRODUCT_CreateBy]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_PRODUCT_CreateDate]  DEFAULT (getdate()),
	[UpdateBy] [int] NULL CONSTRAINT [DF_PRODUCT_UpdateBy]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_PRODUCT_UpdateDate]  DEFAULT (getdate()),
	[ProductNameSort] [nvarchar](500) NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [PRODUCT] ON
INSERT [PRODUCT] ([ProductID], [ProductNameDesc], [Status], [Color], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [ProductNameSort]) VALUES (1, N'Com suon', 1, N'Blue', N'', 0, CAST(0x0000A5630169E774 AS DateTime), 0, CAST(0x0000A5630169E774 AS DateTime), N'Com suon')
INSERT [PRODUCT] ([ProductID], [ProductNameDesc], [Status], [Color], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [ProductNameSort]) VALUES (2, N'Com cha', 1, N'Cyan', N'', 0, CAST(0x0000A563016A0BEE AS DateTime), 0, CAST(0x0000A563016A0BEE AS DateTime), N'Com cha')
INSERT [PRODUCT] ([ProductID], [ProductNameDesc], [Status], [Color], [Note], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [ProductNameSort]) VALUES (3, N'Com chien duong chau', 1, N'Green', N'', 0, CAST(0x0000A563016A3882 AS DateTime), 0, CAST(0x0000A563016A59B8 AS DateTime), N'Com chien duong chau')
SET IDENTITY_INSERT [PRODUCT] OFF
/****** Object:  StoredProcedure [dbo].[pos_th_SaveDataMapProductToCategory]    Script Date: 12/05/2015 16:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

/*

DECLARE @tablecategory TableTemp
--INSERT INTO @tablecategory(Value) VALUES (1)
INSERT INTO @tablecategory(Value) VALUES (3)
INSERT INTO @tablecategory(Value) VALUES (4)

exec pos_th_SaveDataMapProductToCategory @catalogueid=9,@userid=0,@tablecategory=@tablecategory


*/



create PROCEDURE [pos_th_SaveDataMapProductToCategory]
    @categoryid INT = 0 ,
    @userid INT = 0 ,
    @tableproduct TableTemp READONLY
AS
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON;


		--SELECT * FROM @tablecategory

		    UPDATE  dbo.MAP_PRODUCT_TO_CATEGORY
        SET     Status = 1 ,
                UpdateBy = @userid ,
                UpdateDate = GETDATE()
        WHERE   CategoryID = @categoryid AND Status=0
                AND ProductID IN ( SELECT  Value
                                        FROM   @tableproduct )

        INSERT  INTO dbo.MAP_PRODUCT_TO_CATEGORY
                ( ProductID ,
                  CategoryID ,
                  Status ,
                  Note ,
                  CreateBy ,
                  CreateDate ,
                  UpdateBy ,
                  UpdateDate
	            )
                SELECT  Value ,
                        @categoryid ,
                        1 ,
                        '' ,
                        @userid ,
                        GETDATE() ,
                        @userid ,
                        GETDATE()
                FROM    @tableproduct
                WHERE   Value NOT IN ( SELECT   ProductID
                                       FROM     dbo.MAP_PRODUCT_TO_CATEGORY
                                       WHERE    CategoryID = @categoryid
                                         )


        UPDATE  MAP_PRODUCT_TO_CATEGORY
        SET     Status = 0 ,
                UpdateBy = @userid ,
                UpdateDate = GETDATE()
        WHERE   CategoryID = @categoryid
                AND ProductID NOT IN ( SELECT  Value
                                        FROM    @tableproduct )

    END
GO
/****** Object:  StoredProcedure [dbo].[pos_th_SaveDataMapModifireToProduct]    Script Date: 12/05/2015 16:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [pos_th_SaveDataMapModifireToProduct]
	-- Add the parameters for the stored procedure here
   @productid INT = 0 ,
    @userid INT = 0 ,
    @tablemodifire TableTemp READONLY
AS
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON;


		--SELECT * FROM @tablecategory

		    UPDATE  MAP_MODIFIRE_TO_PRODUCT
        SET     Status = 1 ,
                UpdateBy = @userid ,
                UpdateDate = GETDATE()
        WHERE   ProductID = @productid AND Status=0
                AND ModifireID IN ( SELECT  Value
                                        FROM   @tablemodifire )

        INSERT  INTO dbo.MAP_MODIFIRE_TO_PRODUCT
                ( ModifireID ,
                  ProductID ,
                  Status ,
                  Note ,
                  CreateBy ,
                  CreateDate ,
                  UpdateBy ,
                  UpdateDate
	            )
                SELECT  Value ,
                        @productid ,
                        1 ,
                        '' ,
                        @userid ,
                        GETDATE() ,
                        @userid ,
                        GETDATE()
                FROM    @tablemodifire
                WHERE   Value NOT IN ( SELECT   ModifireID
                                       FROM     dbo.MAP_MODIFIRE_TO_PRODUCT
                                       WHERE    ProductID = @productid
                                         )


        UPDATE  MAP_MODIFIRE_TO_PRODUCT
        SET     Status = 0 ,
                UpdateBy = @userid ,
                UpdateDate = GETDATE()
        WHERE   ProductID = @productid
                AND ModifireID NOT IN ( SELECT  Value
                                        FROM    @tablemodifire )

    END
GO
/****** Object:  StoredProcedure [dbo].[pos_th_SaveDataMapCategoryToCatalogue]    Script Date: 12/05/2015 16:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

/*

DECLARE @tablecategory TableTemp
--INSERT INTO @tablecategory(Value) VALUES (1)
INSERT INTO @tablecategory(Value) VALUES (3)
INSERT INTO @tablecategory(Value) VALUES (4)

exec pos_th_SaveDataMapCategoryToCatalogue @catalogueid=9,@userid=0,@tablecategory=@tablecategory


*/



create PROCEDURE [pos_th_SaveDataMapCategoryToCatalogue]
    @catalogueid INT = 0 ,
    @userid INT = 0 ,
    @tablecategory TableTemp READONLY
AS
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON;


		--SELECT * FROM @tablecategory

		    UPDATE  MAP_CATEGORY_TO_CATALOGUE
        SET     Status = 1 ,
                UpdateBy = @userid ,
                UpdateDate = GETDATE()
        WHERE   CatalogueID = @catalogueid AND Status=0
                AND CategoryID IN ( SELECT  Value
                                        FROM   @tablecategory )

        INSERT  INTO dbo.MAP_CATEGORY_TO_CATALOGUE
                ( CategoryID ,
                  CatalogueID ,
                  Status ,
                  Note ,
                  CreateBy ,
                  CreateDate ,
                  UpdateBy ,
                  UpdateDate
	            )
                SELECT  Value ,
                        @catalogueid ,
                        1 ,
                        '' ,
                        @userid ,
                        GETDATE() ,
                        @userid ,
                        GETDATE()
                FROM    @tablecategory
                WHERE   Value NOT IN ( SELECT   categoryid
                                       FROM     dbo.MAP_CATEGORY_TO_CATALOGUE
                                       WHERE    CatalogueID = @catalogueid
                                         )


        UPDATE  MAP_CATEGORY_TO_CATALOGUE
        SET     Status = 0 ,
                UpdateBy = @userid ,
                UpdateDate = GETDATE()
        WHERE   CatalogueID = @catalogueid
                AND CategoryID NOT IN ( SELECT  Value
                                        FROM    @tablecategory )

    END
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetListModifireToProduct]    Script Date: 12/05/2015 16:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Vu Pham>
-- Create date: <01/12/2015>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [pos_th_GetListModifireToProduct]
	-- Add the parameters for the stored procedure here
	@productID INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM dbo.MODIFIRE 
	Where Status = 1 and 
		  MODIFIRE.ModifireID IN (Select ModifireID
									  From dbo.MAP_MODIFIRE_TO_PRODUCT
									  Where ProductID = @productID
											and Status = 1)
END
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetListModifire]    Script Date: 12/05/2015 16:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [pos_th_GetListModifire]
	-- Add the parameters for the stored procedure here
	@productID INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM dbo.MODIFIRE 
	Where Status = 1 and 
		  MODIFIRE.ModifireID NOT IN (Select ModifireID
									  From dbo.MAP_MODIFIRE_TO_PRODUCT
									  Where ProductID = @productID
											and Status = 1)
END
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetAllListProductByCategory]    Script Date: 12/05/2015 16:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<thien huynh>
-- Create date: <29/11/2015>
-- Description:	<Description,,>
-- =============================================
/*

		EXEC pos_th_GetAllListProductByCategory @categoryid=1

*/



CREATE PROCEDURE [pos_th_GetAllListProductByCategory] @categoryid INT = 0
AS
    BEGIN
	
        SET NOCOUNT ON;
	
        SELECT  ProductID,ProductNameDesc,ProductNameSort
        FROM    dbo.PRODUCT
        WHERE   Status = 1
                AND ProductID NOT IN ( SELECT  ProductID
                                        FROM    dbo.MAP_PRODUCT_TO_CATEGORY
                                        WHERE   CategoryID = @categoryid
                                                AND Status = 1 )

    END
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetAllListCategoryByCatalogue]    Script Date: 12/05/2015 16:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<thien huynh>
-- Create date: <29/11/2015>
-- Description:	<Description,,>
-- =============================================
/*

		EXEC pos_th_GetAllListCategoryByCatalogue @catalogueid=3

*/



create PROCEDURE [pos_th_GetAllListCategoryByCatalogue] @catalogueid INT = 0
AS
    BEGIN
	
        SET NOCOUNT ON;
	
        SELECT  CategoryID,CategoryName,ISNULL(CategoryNameSort,'') AS CategoryNameSort 
        FROM    dbo.CATEGORY
        WHERE   Status = 1
                AND CategoryID NOT IN ( SELECT  CategoryID
                                        FROM    dbo.MAP_CATEGORY_TO_CATALOGUE
                                        WHERE   CatalogueID = @catalogueid
                                                AND Status = 1 )

    END
GO
/****** Object:  StoredProcedure [dbo].[getProductByCategory]    Script Date: 12/05/2015 16:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [getProductByCategory] @categoryid INT = 0
AS
    BEGIN
	
        SET NOCOUNT ON;
	
       SELECT     dbo.PRODUCT.ProductID,dbo.PRODUCT.ProductNameDesc, dbo.PRODUCT.ProductNameSort, dbo.PRODUCT.Color, dbo.PRODUCT_PRICE.CurrentPrice, 
                      dbo.MAP_PRODUCT_TO_CATEGORY.CategoryID
FROM         dbo.MAP_PRODUCT_TO_CATEGORY INNER JOIN
                      dbo.PRODUCT ON dbo.MAP_PRODUCT_TO_CATEGORY.ProductID = dbo.PRODUCT.ProductID INNER JOIN
                      dbo.PRODUCT_PRICE ON dbo.MAP_PRODUCT_TO_CATEGORY.ProductID = dbo.PRODUCT_PRICE.ProductID
WHERE     (dbo.MAP_PRODUCT_TO_CATEGORY.CategoryID =@categoryid and dbo.PRODUCT.Status=1)

    END
GO
/****** Object:  StoredProcedure [dbo].[getModifireByProduct]    Script Date: 12/05/2015 16:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [getModifireByProduct] @productid INT = 0
AS
    BEGIN
	
        SET NOCOUNT ON;
	
       SELECT     dbo.MAP_MODIFIRE_TO_PRODUCT.ProductID, dbo.MODIFIRE.ModifireID, dbo.MODIFIRE.ModifireName, dbo.MODIFIRE_PRICE.CurrentPrice, 
                      dbo.MODIFIRE.Color
FROM         dbo.MAP_MODIFIRE_TO_PRODUCT INNER JOIN
                      dbo.MODIFIRE ON dbo.MAP_MODIFIRE_TO_PRODUCT.ModifireID = dbo.MODIFIRE.ModifireID INNER JOIN
                      dbo.MODIFIRE_PRICE ON dbo.MAP_MODIFIRE_TO_PRODUCT.ModifireID = dbo.MODIFIRE_PRICE.ModifireID
WHERE     (dbo.MAP_MODIFIRE_TO_PRODUCT.ProductID = @productid and dbo.MODIFIRE.Status=1)

    END
GO
