USE [POSEZ2U]
GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetDataSaleByAccount]    Script Date: 1/25/2016 10:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Thien Huynh>
-- Create date: <25/1/2016>
-- Description:	<pos_th_GetDataSaleByAccount>
-- =============================================

-- EXEC pos_th_GetDataSaleByAccount @dateselect='2016-1-25',@type=0

CREATE PROCEDURE [dbo].[pos_th_GetDataSaleByAccount]
    @dateselect NVARCHAR(20) = '' ,
    @type INT = 0
AS
    BEGIN

        SET NOCOUNT ON;

        DECLARE @startdate DATETIME= CONVERT(DATETIME, @dateselect
            + ' 00:00:00');
        DECLARE @enddate DATETIME= CONVERT(DATETIME, @dateselect + ' 23:59:59');

        IF ( @type = 1 )
            BEGIN
                SELECT  @startdate = [dbo].[GetStartDate](@startdate)

                SELECT  @enddate = [dbo].[GetEndDate](@enddate)
            END

        SELECT  c.ClientID ,
                ISNULL(c.Fname, '') + ' ' + ISNULL(c.Lname, '') AS FullName ,
                ISNULL(SUM(oc.TotalAmount), 0) AS Total
        FROM    dbo.CLIENT c
                INNER JOIN dbo.VIEW_ORDER_ALL oc ON c.ClientID = oc.ClientID
                                                   AND oc.Status = 1
        WHERE   oc.CreateDate BETWEEN @startdate AND @enddate
        GROUP BY c.ClientID ,
                c.Fname ,
                c.Lname
        ORDER BY c.Fname ,
                c.Lname
		
    END

GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetDataSaleByCard]    Script Date: 1/25/2016 10:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Thien Huynh>
-- Create date: <25/1/2016>
-- Description:	<pos_th_GetDataSaleByCard>
-- =============================================

--  EXEC pos_th_GetDataSaleByCard @dateselect='2016-1-25',@type=0

CREATE PROCEDURE [dbo].[pos_th_GetDataSaleByCard]
    @dateselect NVARCHAR(20) = '' ,
    @type INT = 0
AS
    BEGIN

        SET NOCOUNT ON;

        DECLARE @startdate DATETIME= CONVERT(DATETIME, @dateselect
            + ' 00:00:00');
        DECLARE @enddate DATETIME= CONVERT(DATETIME, @dateselect + ' 23:59:59');

        IF ( @type = 1 )
            BEGIN
                SELECT  @startdate = [dbo].[GetStartDate](@startdate)

                SELECT  @enddate = [dbo].[GetEndDate](@enddate)
            END


        SELECT  ibc.CardID,c.CardName,SUM(ibc.Total) AS Total
        FROM    dbo.INVOICE_BY_CARD ibc
		LEFT JOIN dbo.Card c ON c.CardID = ibc.CardID
        WHERE   ibc.CreateDate BETWEEN @startdate AND @enddate
		GROUP BY ibc.CardID,c.CardName
		ORDER BY c.CardName
		
    END

GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetDataSummaryReport]    Script Date: 1/25/2016 10:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Thien Huynh>
-- Create date: <16/1/2016>
-- Description:	<get Data summary report>
-- =============================================


-- EXEC pos_th_GetDataSummaryReport @dateselect='2016-1-25',@type=1



CREATE PROCEDURE [dbo].[pos_th_GetDataSummaryReport]
    @dateselect NVARCHAR(20) = '' ,
    @type INT = 0
AS
    BEGIN
	
        SET NOCOUNT ON;

        DECLARE @startdate DATETIME= CONVERT(DATETIME, @dateselect + ' 00:00:00');
        DECLARE @enddate DATETIME= CONVERT(DATETIME, @dateselect + ' 23:59:59');

        IF ( @type = 1 )
            BEGIN
                SELECT  @startdate = [dbo].[GetStartDate](@startdate)

                SELECT  @enddate = [dbo].[GetEndDate](@enddate)
            END

        --SELECT  @startdate ,
        --        @enddate


        SELECT  A.NetSale ,
                a.Discount ,
                a.Change ,
                a.Refund ,
               ( B.CashTotal  - A.Change ) AS CashTotal ,
                B.CardTotal ,
                b.ChequeTotal ,
                b.AccountTotal ,
                b.GrifCardTotal
        FROM    ( SELECT    ISNULL(SUM(inv.Total), 0) AS NetSale ,
                            ISNULL(SUM(inv.Discount), 0) AS Discount ,
                            ISNULL(SUM(inv.Change), 0) AS Change ,
                            0 AS Refund
                  FROM      VIEW_INVOICE_ALL inv
                            INNER JOIN VIEW_ORDER_ALL oc ON oc.OrderNumber = inv.OrderNumber
                                                            AND oc.Status = 1
                  WHERE     inv.Status = 1
                            AND inv.CreateDate BETWEEN @startdate AND @enddate
                ) AS A ,
                ( SELECT    ISNULL(MAX(temp.TotalCash), 0) AS CashTotal ,
                            ISNULL(MAX(temp.TotalCard), 0) AS CardTotal ,
                            ISNULL(MAX(temp.TotalCheque), 0) AS ChequeTotal ,
                            ISNULL(MAX(temp.TotalAccount), 0) AS AccountTotal ,
                            ISNULL(MAX(temp.TotalGiftCard), 0) AS GrifCardTotal
                  FROM      ( SELECT    CASE WHEN PaymentTypeID = 1
                                             THEN SUM(Total)
                                             ELSE 0
                                        END AS TotalCash ,
                                        CASE WHEN PaymentTypeID = 2
                                             THEN SUM(Total)
                                             ELSE 0
                                        END AS TotalCard ,
                                        CASE WHEN PaymentTypeID = 3
                                             THEN SUM(Total)
                                             ELSE 0
                                        END AS TotalCheque ,
                                        CASE WHEN PaymentTypeID = 4
                                             THEN SUM(Total)
                                             ELSE 0
                                        END AS TotalAccount ,
                                        CASE WHEN PaymentTypeID = 5
                                             THEN SUM(Total)
                                             ELSE 0
                                        END AS TotalGiftCard
                              FROM      VIEW_PAYMENT_INVOICE_HISTORY_ALL
                              WHERE     Status = 1
                                        AND CreateDate BETWEEN @startdate AND @enddate
                              GROUP BY  PaymentTypeID
                            ) AS temp
                ) AS B
    
    END

GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetQTYGroupSaleReport]    Script Date: 1/25/2016 10:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pos_th_GetQTYGroupSaleReport]
    @dateselect NVARCHAR(20) = '' ,
    @type INT = 0
AS
    BEGIN
	
        SET NOCOUNT ON;

        DECLARE @startdate DATETIME= CONVERT(DATETIME, @dateselect
            + ' 00:00:00');
        DECLARE @enddate DATETIME= CONVERT(DATETIME, @dateselect + ' 23:59:59');

        IF ( @type = 1 )
            BEGIN
                SELECT  @startdate = [dbo].[GetStartDate](@startdate)

                SELECT  @enddate = [dbo].[GetEndDate](@enddate)
            END

		--SELECT @startdate,@enddate

        SELECT  CategoryID ,
				CategoryName ,
				SUM(qty) AS TotalQty
        FROM    view_report_invoice
        WHERE   CreateDate BETWEEN @startdate AND @enddate
		GROUP BY CategoryID ,
				CategoryName
    END

GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetQTYItemSaleReport]    Script Date: 1/25/2016 10:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pos_th_GetQTYItemSaleReport]
    @dateselect NVARCHAR(20) = '' ,
    @type INT = 0
AS
    BEGIN
	
        SET NOCOUNT ON;

        DECLARE @startdate DATETIME= CONVERT(DATETIME, @dateselect
            + ' 00:00:00');
        DECLARE @enddate DATETIME= CONVERT(DATETIME, @dateselect + ' 23:59:59');

        IF ( @type = 1 )
            BEGIN
                SELECT  @startdate = [dbo].[GetStartDate](@startdate)

                SELECT  @enddate = [dbo].[GetEndDate](@enddate)
            END

		--SELECT @startdate,@enddate

        SELECT  ProductID ,
				ProductNameDesc ,
				SUM(qty) AS TotalQty
        FROM    view_report_invoice
        WHERE   CreateDate BETWEEN @startdate AND @enddate
		GROUP BY ProductID ,
				ProductNameDesc 
    END

GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetReportSaleByStaff]    Script Date: 1/25/2016 10:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Thien Huynh>
-- Create date: <25/1/2016>
-- Description:	<Get Report Sale By Staff>
-- =============================================

--  EXEC pos_th_GetReportSaleByStaff @dateselect='2016-1-25',@type=1

CREATE PROCEDURE [dbo].[pos_th_GetReportSaleByStaff]
    @dateselect NVARCHAR(20) = '' ,
    @type INT = 0
AS
    BEGIN

        SET NOCOUNT ON;
        DECLARE @startdate DATETIME= CONVERT(DATETIME, @dateselect + ' 00:00:00');
        DECLARE @enddate DATETIME= CONVERT(DATETIME, @dateselect + ' 23:59:59');

        IF ( @type = 1 )
            BEGIN
                SELECT  @startdate = [dbo].[GetStartDate](@startdate)

                SELECT  @enddate = [dbo].[GetEndDate](@enddate)
            END
		

        SELECT  s.StaffID,s.UserName,SUM(inv.Total) AS Total
        FROM    dbo.VIEW_INVOICE_ALL inv
				LEFT JOIN dbo.STAFF s ON s.StaffID=inv.CreateBy
        WHERE   inv.CreateDate BETWEEN @startdate AND @enddate AND inv.Status=1
		GROUP BY s.StaffID,s.UserName
   
    END

GO
/****** Object:  StoredProcedure [dbo].[pos_th_GetShiftReport]    Script Date: 1/25/2016 10:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pos_th_GetShiftReport]
    @dateselect NVARCHAR(20) = ''
AS
    BEGIN
	
        SET NOCOUNT ON;

        DECLARE @startdate DATETIME= CONVERT(DATETIME, @dateselect
            + ' 00:00:00');
        DECLARE @enddate DATETIME= CONVERT(DATETIME, @dateselect + ' 23:59:59');

        SELECT  sh.ShiftHistoryID ,
                sh.ShiftName ,
                s.UserName ,
                sh.StartShift ,
                sh.EndShift ,
                sh.CashStart ,
                sh.CashEnd ,
                sh.SafeDrop ,
                ISNULL(SUM(inv.TotalCash), 0) AS TotalCash ,
                ISNULL(SUM(inv.Total), 0) AS TotalSale
        FROM    dbo.SHIFT_HISTORY sh
                INNER JOIN dbo.STAFF s ON s.StaffID = sh.StaffID
                LEFT JOIN ( SELECT  INV.ShiftID ,
                                    INV.Total ,
                                    INV.Change ,
                                    INV.InvoiceID ,
                                    ISNULL(SUM(PHM.Total), 0)
                                    - ISNULL(INV.Change, 0) AS TotalCash
                            FROM    dbo.INVOICE INV
                                    LEFT JOIN dbo.PAYMENT_INVOICE_HISTORY PHM ON PHM.InvoiceID = INV.InvoiceID
                            WHERE   PaymentTypeID = 1
                            GROUP BY INV.ShiftID ,
                                    INV.Change ,
                                    INV.Total ,
                                    INV.InvoiceID
                          ) AS INV ON inv.ShiftID = sh.ShiftHistoryID
        WHERE   sh.CreateDate BETWEEN @startdate AND @enddate and sh.Status=2
        GROUP BY sh.ShiftHistoryID ,
                sh.ShiftName ,
                s.UserName ,
                sh.StartShift ,
                sh.EndShift ,
                sh.CashStart ,
                sh.CashEnd ,
                sh.SafeDrop 
      
    END

GO
