USE [POSEZ2U]
GO
/****** Object:  Table [dbo].[CONFIG_SAVE_DATA]    Script Date: 3/7/2016 7:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIG_SAVE_DATA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[LinkPath] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_CONFIG_SAVE_DATA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CONFIG_SAVE_DATA] ON 

INSERT [dbo].[CONFIG_SAVE_DATA] ([ID], [Name], [LinkPath], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [Type]) VALUES (1, N'BACKUP DATA', N'F:\', 1, 4, NULL, NULL, NULL, 1)
INSERT [dbo].[CONFIG_SAVE_DATA] ([ID], [Name], [LinkPath], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [Type]) VALUES (2, N'REPORT', N'F:\', 1, 4, NULL, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[CONFIG_SAVE_DATA] OFF
ALTER TABLE [dbo].[CONFIG_SAVE_DATA] ADD  CONSTRAINT [DF_CONFIG_SAVE_DATA_CreateBy]  DEFAULT ((0)) FOR [CreateBy]
GO
ALTER TABLE [dbo].[CONFIG_SAVE_DATA] ADD  CONSTRAINT [DF_CONFIG_SAVE_DATA_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[CONFIG_SAVE_DATA] ADD  CONSTRAINT [DF_CONFIG_SAVE_DATA_UpdateBy]  DEFAULT ((0)) FOR [UpdateBy]
GO
ALTER TABLE [dbo].[CONFIG_SAVE_DATA] ADD  CONSTRAINT [DF_CONFIG_SAVE_DATA_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[CONFIG_SAVE_DATA] ADD  CONSTRAINT [DF_CONFIG_SAVE_DATA_Type]  DEFAULT ((0)) FOR [Type]
GO
